.display{
    border: 5px;
    width: 230px;
    height: 400px;
    background-color: black;
   padding: 20px;
    margin-left: 500px;
}
.btn{
    margin-bottom: 10px;
    margin-left: 10px; 
    height: 40px;
    width: 40px;
    border-radius: 50px;
}
